 <header>
  <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
      <div class="container">
          <a class="navbar-brand" href="javascript:;" th:href="@{/}">FORMULÁRIOS</a>

          <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
  </nav>
</header>

<main role="main">
  <section class="my-4">
    <div class="container">





<ul class="nav navbar-nav">
  <li routerLinkActive="active">
  <button class="btn btn-primary"> <a routerLink="/templateForm">Form - Template Driven</a></button>
  </li>
  <br>
  <li routerLinkActive="active">
    <button class="btn btn-primary"> <a routerLink="/dataForm">Form - Data Driven</a></button>
  </li>
</ul>


</div>
</section>
</main>
<router-outlet></router-outlet>












